@tailwind components;
@tailwind utilities;

@layer components {
  .recharts-cartesian-axis-tick-value {
    direction: ltr;
    unicode-bidi: plaintext;
  }
}

/* @layer components {
  .chart
    .recharts-cartesian-axis-ticks
    .recharts-cartesian-axis-tick:first-child {
    text-anchor: start;
  }
} */
